
body
{
    font-family: "Roboto", "Open Sans", sans-serif;
    background-size: contain;
}
section
{
    background-color: #1e202b;
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    padding-bottom: 50px;
}
nav

.logo a 
{
    text-decoration: none;
    color: white;
}
.nav-item
{
    padding: 0px 10px;
    margin: 0px 20px;
    border: solid 3px transparent ;
    border-radius: 50px;
    transition-duration: .3s;
}
.nav-item:hover
{
    border: solid 3px #009ad8 ;
}
.nav-item a:hover
{
    color: white;
}
.form-control
{
    background-color: transparent;
    border: transparent;
}
.findForm
{
    border-radius: 50px;
}
.todayForcast
{

    background-color: #2e3142;

}
.dayAndDateToday
{
    width: 100%;
    background-color: rgb(0, 0, 0 , 0.1);
    padding: 20px 30px;
}
.tomorrowForcast
{
    background-color: #1f212c;
}
.dayAndDateTomorrow
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
}
.dayAndDateAfterTomorrow
{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);

}
.aftertomorrowForcast
{
    background-color: #2e3142;
}
.temp
{
    font-size: 72px;
    color: white;
    font-weight: 700;
}
footer
{
    background-color: #262936;
}
.footerIcon
{
    text-decoration: none;
    padding: 10px;
}
.iconBackground
{
    background-color: #1e202b;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    color: #009ad8;
    margin-left: 10px;
}